.logo {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: Oxta, sans-serif;
    color: #d8d2cc;
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 400;
  }

  .user-menu {
    
    font-family: Exo, sans-serif;
    color: #d8d2cc;
    
  }