<div class="grid">
    <div class="field col-10 col-offset-1">
        <div class="card">
            <p-dialog header="System Messages" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}"
             [draggable]="false" [resizable]="false">
                <p class="flex align-items-center justify-content-between">{{dialougmessage}}</p>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
    
            <p-table #dt 
            [columns]="cols" 
            [value]="rows" 
            [tableStyle]="{'min-width': '50rem'}" 
            styleClass="p-datatable-gridlines" rowGroupMode="subheader" 
            groupRowsBy="Name" 
            [rows]="25" 
            [paginator]="true" [globalFilterFields]= "cols" 
            [rowsPerPageOptions]="[10, 25, 50]"  
            [scrollable]="true"
            scrollHeight="1000px"
            frozenWidth="200px"
            responsiveLayout="scroll">
            
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input #searchinput putText type="text" (input)="dt.filterGlobal(searchinput.value, 'contains')" placeholder="Search..." style="height:'30px'"/>
                    </span>
                    <h2 class="m-0 text-blue-800">Manage Contracts</h2>                        
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                </div>
            </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>                   
                        <th>Contract Number</th>
                        <th>Contract Date</th>
                        <th>Customer</th> 
                        <th>Variety</th>
                        <th>Grade</th>
                        <th>Quantity</th>
                       
                        <th>Price</th>
                        <th>Delivery From Date</th>
                        <th>Delivery To Date</th>
                        <th>Delivery Terms</th>
                        <th>Origin</th>
                        <th>Configuration</th>
                        <th>Destination Country</th>
                        <th>Terms Of Payment</th>
                        <th>User</th>
                        <th>Modified On</th>
                        <th>Actions</th>
                        <th>Details</th>
                    
                  </tr>
                  <tr>
                    <th><p-columnFilter type="text" field="Contractnumber" display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="date" field="Contractdate" display="menu"></p-columnFilter></th>
                    <th>
                        <p-columnFilter type="text" field="CustName" display="menu"></p-columnFilter>
                   
                    </th>
                    <th><p-columnFilter type="text" field="variety" display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="Grade" display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="numeric" field="Quantity" display="menu"></p-columnFilter></th>
                   
                    <th><p-columnFilter type="numeric" field="Price" display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="date" field="Deliveryfromdate" display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="date" field="Deliverytodate" display="menu"></p-columnFilter></th>

                    <th><p-columnFilter type="text" field="Deliveryterms"  display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="Origin"  display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="bagname"  display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="Destination"  display="menu"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="PaymentTrm"  display="menu"></p-columnFilter></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> 
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    </th>
                 
                   </tr>
                  </ng-template>
                  <ng-template pTemplate="groupheader" let-rowData>
                    <tr pRowGroupHeader>
                        <td colspan="16">
                            <span *ngFor="let comimage of commodities">
                           <span *ngIf="comimage.id==rowData.Commodityid"> <img [alt]="rowData.Name" [src]="comimage.Commodityimg" width="32" style="vertical-align: middle" /></span>
                            </span>
                            <span class="font-bold ml-2">{{rowData.Name}}</span>
                        </td>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-product>
                    
                    <tr pTooltip="Click on Details Button for Planning" tooltipPosition="top" tooltipEvent="hover" class="table">
                        <!-- <td>{{product.Contractid}}</td> -->
                        <!-- <td>{{product.Name}}</td> -->
                        <td>{{product.Contractnumber}}</td>
                        <td>{{product.Contractdate | date}}</td>
                        <td style="word-wrap: break-word">{{product.CustName}}</td>
                        <td>{{product.variety}}</td>
                        <td>{{product.Grade}}</td>
                        
                        <td>{{product.Quantity}}</td>
                        
                        <td>{{product.Price}}</td>
                        <!-- <td>{{product.Ordertype}}</td> -->
                        <td>{{product.Deliveryfromdate | date}}</td>
                        <td>{{product.Deliverytodate | date}}</td>
                        <td>{{product.Deliveryterms}}</td>
                        <td>{{product.Origin}}</td>
                        <td>{{product.bagname}}</td>
                        <td>{{product.Destination}}</td>
                        <td>{{product.PaymentTrm}}</td>
                        <td>{{product.ByUser}}</td>
                        <td>{{product.modifiedon}}</td>
                        <td>
                            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': product.Closed!='False', 'text-red-500 pi-times-circle': product.Cancel!='False' }"></i>
                        </td>
                        <td></td>
                        <!-- <td><i class="pi pi-times" *ngIf="product.Closed!='False'" pTooltip="Contract Closed" tooltipPosition="top" tooltipEvent="hover"></i>
                            <i class="pi pi-ban" *ngIf="product.Cancel!='False'"></i></td> -->
                    </tr>   
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{rows ? rows.length : 0 }} Closed/Cancelled Contracts.
                    </div>
                </ng-template>
            </p-table>
    </div>
</div>
<p-blockUI  [blocked]="blockedPanel">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <i>
        Please Wait, System is processing your request.</i>
    </p-blockUI>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <p-messages [enableService]="true"></p-messages>

