<div class="grid">
    <div class="field col-10 col-offset-1">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="addNew()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPlants()" [disabled]="!selectedPlants || !selectedPlants.length"></button>
                </ng-template>
            </p-toolbar>
        
            <p-table #dt [columns]="cols" [rowsPerPageOptions]="[10, 25, 50]" [value]="rows" [rows]="10" [paginator]="true" [globalFilterFields]= "cols" responsiveLayout="scroll"
                [(selection)]="selectedPlants" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines" scrollHeight="750px">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">Manage Plants</h5>
                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input #searchinput putText type="text" (input)="dt.filterGlobal(searchinput.value, 'contains')" placeholder="Search..." style="height:'30px'"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> 
                        <ng-container *ngFor="let col of columns">
                            <th *ngIf="col!=='createdby' && col!=='modifiedby'" pSortableColumn={{col}}><p-sortIcon></p-sortIcon>{{'TableHeaders.vw_Wrx_Plants.' + col | translate}}</th>
                        </ng-container>
                        <th>Action</th>
                    </tr> 
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <ng-container *ngFor="let col of columns">
                           <td *ngIf="col!=='createdby' && col!=='modifiedby'">{{rowData[col]}}</td>
                        </ng-container>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPlant(rowData)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSelectedPlant(rowData)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{rows ? rows.length : 0 }} Plants.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <div class="card">
        <p-dialog [(visible)]="addNewDialogue" [style]="{width: '550px'}" header="Plant Details" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                    <div class="grid">
                        <div class="col-10 col-offset-1">
                            <label for="Plant">Plant Name</label>
                            <input type="text" pInputText id="Plant" [(ngModel)]="Plant.Plant" required autofocus />
                            <small class="p-error" *ngIf="submitted && !Plant.Plant">Plant Name is required.</small>
                        </div>
                        <div class="col-10 col-offset-1">
                            <label for="Address">Address</label>
                            <input type="text" pInputText id="Address" [(ngModel)]="Plant.Address" required autofocus />
                            <small class="p-error" *ngIf="submitted && !Plant.Address">Plant Address is required.</small>
                        </div>
                        <div class="col-10 col-offset-1">
                            <label for="PostalCode">Postal Code</label>
                            <input type="text" pInputText id="PostalCode" [(ngModel)]="Plant.PostalCode" required autofocus />
                            <small class="p-error" *ngIf="submitted && !Plant.PostalCode">Plant PostalCode is required.</small>
                        </div>
                        <div class="field col-10 col-offset-1">
                            <label for="ERPName">ERP Name</label>
                            <!-- <p-inputMask aria-labelledby="Email" mask="?@?.?" [(ngModel)]="customer.Email"></p-inputMask> -->
                            <input type="text" pInputText id="ERPName" [(ngModel)]="Plant.ERPName" readonly/>
                        </div>
                    </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePlant()"></button>
            </ng-template>
        </p-dialog>
    </div>
    </div>
</div>
<br>
<br><br>
<br>    
<p-blockUI  [blocked]="blockedPanel">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <i>
        Please Wait, System is processing your request.</i>
</p-blockUI>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>